<div class="login-container">
  

  <form (ngSubmit)="onLogin()" class="login-form">
    <label for="email">E-posta:</label>
    <input type="email" [(ngModel)]="email" name="email" required />

    <label for="password">Şifre:</label>
    <input type="password" [(ngModel)]="password" name="password" required />

    <button type="submit" class="login-button">Giriş Yap</button>
  </form>

  <div class="register-wrapper">
    <p>Hesabınız yok mu?</p>
    <button class="register-button" routerLink="/register">Kayıt Ol</button>
  </div>
</div>
